.container {
    font: 13px Helvetica, Arial;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

form {
    width: 100%;
}

form div.mdl-textfield {
    width: 100%
}

.users-card.mdl-card {
    width: 100%;
    margin: 20px;
}

.chat-window {
    display: flex;
    align-items: flex-end;
    flex-grow: 5;
}

.activity-message {
    text-align: center;
}

.users-window {
    flex-grow: 1;
    flex-wrap: wrap;
    min-width: 100px;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
}
