.container {
    font: 13px Helvetica, Arial;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
}

form {
    width: 100%;
}

form div.mdl-textfield {
    width: 100%
}

.title {
    width: 100%;
}

.chat-window {
    background-color: #CCCDD1;
    display: flex;
    flex-grow: 5;
}

.users-window {
    flex-grow: 1;
    min-width: 100px;
}
