.container {
    font: 13px Helvetica, Arial;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

form {
    padding: 0px 20px;
    width: inherit;
}

form div.mdl-textfield {
    width: 100%
}

.scroll-window {
    overflow: auto;
    height: calc(100vh - 151px);
    display: flex;
    align-items: flex-end;
}

.activity-message {
    text-align: center;
}
